
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale="1" />
    <title>Index</title>
    <style>
        
 
    
         
   body {           
        
    background-color:#0000FF}

    #date-info {position : absolute; top : 65px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 150px; width : 170px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 12px;
              padding : 6px 1px;background-color:white;
             
        
           
    }


    #date-info-content {overflow : auto;border-radius :8px;
                        height : 150px; width : 170px; 



    }
   

    #datetitle{ font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              background-color:white;
           
    }


    #dateselect { font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 0px;background-color:white;
              margin : 0px;
    }

  #dateselector {
            position: absolute;
            top: 245px;
            left: 50px;
            border: 1px;
            border-style: solid;
            border-color: black;
            height: 100px;
            width: 150px;
            border-radius: 10px;
            padding: 10px;
            background-color: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
        }


    
    select { border-radius : 10px}
   
  #piechart {position : absolute; top : 65px;left : 400px ;
              border : 1px;border-style : solid; border-color : black;
              height : 500px; width : 500px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;


    }

   
          
   
    
    </style>
</head>
<body>
    <ul>
       <li><img src="http://www.q2c.be/Content/Images/q2c-logo-neg.png" alt="test" style="width : 62px; height: 20px;"></li>
    </ul>


 

   <div id="map"></div>


   
    <div id="date-info" >
        <div id="date-info-content">
            <h1 id="datetitle">Scan days</h1>
            <ul id="dates-list"></ul>
        </div>
    </div>

    <div id=dateselector>
        <select name="dateselect" id="dateselect">
            <option value="">Select dates</option>
            <option value="">All dates</option>
        </select>


    </div>



   <div id="statistic"></div>

   <div id="infotext"></div>

    <div id="chart">
        <canvas id="mychart" width="400" height="400"></canvas>

    </div> 
    <div id="piechart">
        <canvas id="mypiechart"></canvas>



    </div>             
                   
        
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/chart.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1iRGmDMXSwy0py_TRHruCp49TO0eyuU"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript">


        var markers = @Html.Raw(ViewBag.Jsonlist);
        var patrollers =@Html.Raw(ViewBag.Patrollistjson);
        var days = @Html.Raw(ViewBag.Daysjson);
        var dayschron = days.reverse();

        //data for chart type of scans
        var listlphsids = @Html.Raw(ViewBag.Statlistjson);
        var lphsdays =  @Html.Raw(ViewBag.Lphsdaysjson);
        var lphsdayschron = lphsdays.reverse();
        var typecontrols = @Html.Raw(ViewBag.Typecontrolsjson);
        //

        var typehits = @Html.Raw(ViewBag.Typehitsjson);

        var colors = ["red","blue","yellow","green","orange"];
        var gmarkers = [];
        var vmarkers=[];
        var dateselect = document.getElementById("dateselect");
        var dateselected = dateselect.value;

        
        var dicttypecontrol = {

        0 :'Parking Monitor',1 :'Uurrooster', 2: 'SMS', 3: 'Abonnement', 
			5: 'Tweede RB',7: 'Bevroren Nummerplaat', 20: 'Sensibilisering', 100: 'YellowBrick', 110: 'PayByPhone',
			120: 'Parkeon', 130: 'Mobigo', 140: 'Presto', 150: 'MobileFor', 160: 'ParkMobile', 170: 'Extenso',
			180: 'CEVI', 190: 'Hectronic', 200: 'Parkare', 999: 'TOTAAL'

        }

        console.log(dicttypecontrol[0])


        //data for dateselector

            document.getElementById("datetitle").innerHTML="number of scandays:  " + dayschron.length;

            for (i=0;i<dayschron.length;i++) {

                var dayformatted = moment(dayschron[i]).format("DD/MM/YYYY");
                var datenode = document.createElement("li");
                var datetext = document.createTextNode( dayformatted);
                datenode.appendChild(datetext);
                document.getElementById("dates-list").appendChild(datenode);


            };


            for (i=0;i<dayschron.length;i++) {
                var dayformat1 = moment(dayschron[i]).format("DD/MM/YYYY");
                console.log(dayformat1)
                $("#dateselect").append("<option value=" + dayformat1 +">" +  dayformat1 + "</option>")

            };


            console.log(typecontrols.length);
            console.log(listlphsids.length);
        
            var counttypecontrol =[];
            var labelsoftypecontrols =[];

           for (i=0;i<typecontrols.length;i++) {

               var check = typecontrols[i];
               var label = dicttypecontrol[check];
                var counter=0;
                for (j=0;j<listlphsids.length;j++){
                    if (listlphsids[j].LHDT_TypeControle==check ) {

                    counter= counter+1}
                   
                } 
                var typeperc = ((counter/listlphsids.length)*100).toFixed(2);
                counttypecontrol.push(typeperc);
                labelsoftypecontrols.push(label);
            

        };
         

        var canvas = document.getElementById("mypiechart")
        var ctx = canvas.getContext("2d");


        var mypieChart = new Chart (ctx, {
            type : 'pie',
            data : {
                labels :labelsoftypecontrols,
                datasets : [{
                    backgroundColor: [
                    "#2ecc71",
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                    "#e74c3c",
                    "#34495e"
                    ],
                    label : "percentage",
                    data : counttypecontrol
                }]
            },options : { responsive :true,maintainAspectRatio : false,
                title : {display : true, text : "% type control",padding : 2},legend :{labels :{ boxWidth: 20}},
                tooltips :{ callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];

                        return tooltipLabel + ': ' + tooltipData +  '%';
                    }
                }}


            }}) ;





    </script>
</body>
</html>

    
