
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale="1" />
    <title>Index</title>
    <style>
        
 
    
         
   body {           
        
    background-color:#0000FF}


   #monthyearselector {position : absolute; top : 70px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 100px; width : 170px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 12px;
              padding : 6px 1px;background-color:white;


   }


    
    select { border-radius : 10px}
   
  #piechartcontrol {position : absolute; top : 65px;left : 300px ;
              border : 1px;border-style : solid; border-color : black;
              height : 250px; width : 250px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;


    }


  #tablecontrol {position : absolute; top : 350px;left : 300px ;
              border : 1px;border-style : solid; border-color : black;
              height : 200px; width : 250px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;


    }


  #piecharthits {position : absolute; top : 65px;left : 600px ;
              border : 2px;border-style : solid; border-color : black;
              height : 250px; width : 250px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;


    }
   
     h1 {font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;}  
     
     table,th,td {  border : 1px;border-style : solid; border-color : black;
              border-radius : 2px;


     }   
   
    
    </style>
</head>
<body>
    <ul>
       <li><img src="http://www.q2c.be/Content/Images/q2c-logo-neg.png" alt="test" style="width : 62px; height: 20px;"></li>
    </ul>


 

   <div id="map"></div>

    <div id="monthyearselector">
        <h1>Kies periode voor data analyse </h1>
        <select name="monthyearselect" id="monthyearselect">
            <option value="">select month</option>
          
        </select>

</div>
   
   



   <div id="statistic"></div>

   <div id="infotext"></div>

    <div id="chart">
        <canvas id="mychart" width="400" height="400"></canvas>
    </div> 


    <div id="piechartcontrol">
        <canvas id="piechartcanvascontrol"></canvas>
    </div>  
    
    <div id="tablecontrol">
        <table id="controltable">
            <tr>
                <th>Type scan</th>
                <th> Aantal</th>
                <th>percentage</th>

            </tr>


        </table>




    </div>
      
    
           
    <div id="piecharthits">
        <canvas id="piechartcanvashits"></canvas>



    </div>               
    
                
        
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/chart.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1iRGmDMXSwy0py_TRHruCp49TO0eyuU"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript">


        var markers = @Html.Raw(ViewBag.Jsonlist);
        var patrollers =@Html.Raw(ViewBag.Patrollistjson);
        var days = @Html.Raw(ViewBag.Daysjson);
        var dayschron = days.reverse();

        //data for chart type of scans
        var listlphsids = @Html.Raw(ViewBag.Statlistjson);
        var lphsdays =  @Html.Raw(ViewBag.Lphsdaysjson);
        var lphsdayschron = lphsdays.reverse();
        var typecontrols = @Html.Raw(ViewBag.Typecontrolsjson);
        //

        var hits = @Html.Raw(ViewBag.Hitsjson);
        var hittypes = @Html.Raw(ViewBag.Hittypesjson);

        var colors = ["red","blue","yellow","green","orange"];
        var gmarkers = [];
        var vmarkers=[];
       


        var dicttypecontrol = {

        0 :'Parking Monitor',1 :'Uurrooster', 2: 'SMS', 3: 'Abonnement',
			5: 'Tweede RB',7: 'Bevroren Nummerplaat', 20: 'Sensibilisering', 100: 'YellowBrick', 110: 'PayByPhone',
			120: 'Parkeon', 130: 'Mobigo', 140: 'Presto', 150: 'MobileFor', 160: 'ParkMobile', 170: 'Extenso',
			180: 'CEVI', 190: 'Hectronic', 200: 'Parkare', 999: 'TOTAAL'

        }

                       

        monthyear = [];

        //data for monthselector
        for (i=0;i<listlphsids.length;i++) {
            var monthyearformat1 = moment(listlphsids[i].LPHS_CreatedOn).format("MM/YYYY");
            monthyear.push(monthyearformat1);
        };
       
        monthyear_dist = GetUnique(monthyear);
       

        // function to get unique values from array
        function GetUnique(inputArray)
        {
            var outputArray = [];
    
            for (var i = 0; i < inputArray.length; i++)
            {
                if ((jQuery.inArray(inputArray[i], outputArray)) == -1)
                {
                    outputArray.push(inputArray[i]);
                }
            }
   
            return outputArray;
        };

        var tablescantype = document.getElementById("controltable");

        //code for piechart when page firstloaded
        var counttypecontrol =[];
        var labelsoftypecontrols =[];

        for (i=0;i<typecontrols.length;i++) {

            var check = typecontrols[i];
            var label = dicttypecontrol[check];
            var counter=0;
            for (j=0;j<listlphsids.length;j++){
                if (listlphsids[j].LHDT_TypeControle==check ) {

                    counter= counter+1}

            }
            var typeperc = ((counter/listlphsids.length)*100).toFixed(2);
            counttypecontrol.push(typeperc);
            labelsoftypecontrols.push(label);
            var row = tablescantype.insertRow(i+1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            cell1.innerHTML = label;
            cell2.innerHTML = counter;
            cell3.innerHTML = typeperc;




        };

        




        //code to make piechart
        var canvas = document.getElementById("piechartcanvascontrol")
        var ctx = canvas.getContext("2d");


        var mypieChart = new Chart (ctx, {
            type : 'pie',
            data : {
                labels :labelsoftypecontrols,
                datasets : [{
                    backgroundColor: [
                    "#2ecc71",
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                    "#e74c3c",
                    "#34495e"
                    ],
                    label : "percentage",
                    data : counttypecontrol
                }]
            },options : { responsive :true,maintainAspectRatio : false,
                title : {display : true, text : "ratio type control up to now " ,padding : 2},legend :{labels :{ boxWidth: 20}},
                tooltips :{ callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];

                        return tooltipLabel + ': ' + tooltipData +  '%';
                    }
                }}


            }}) ;



        








        //select values for monthyearselector
        for (i=0;i<monthyear_dist.length;i++) {
           
                
            $("#monthyearselect").append("<option value=" + monthyear_dist[i] +">" + monthyear_dist[i]  + "</option>")

        };

        
       


        var listlphsidsselect =[];



        //function for monthyearselector
        $('#monthyearselect').on('change',function() {

            monthyearselect = this.value;
           
           
            listlphsidsselect.length=0 
             
               
            for (i=0; i<listlphsids.length; i++) {

               

                                       
                if( (moment(listlphsids[i].LPHS_CreatedOn).format("MM/YYYY")== monthyearselect) 
                    || (monthyearselect.length==0)

                    
                    )  {

                    listlphsidsselect.push(listlphsids[i])
                   
                }

               


            };
            if (monthyearselect.length==0) {monthyearselect="up to now"}

            //code calculate data for piechart typecontrols (e.g. PM, abonnement,...)

            var counttypecontrol =[];
            var labelsoftypecontrols =[];

            for (i=0;i<typecontrols.length;i++) {

                var check = typecontrols[i];
                var label = dicttypecontrol[check];
                var counter=0;
                for (j=0;j<listlphsidsselect.length;j++){
                    if (listlphsidsselect[j].LHDT_TypeControle==check ) {

                        counter= counter+1}

                }
                var typeperc = ((counter/listlphsidsselect.length)*100).toFixed(2);
                counttypecontrol.push(typeperc);
                labelsoftypecontrols.push(label);


            };

            //code to make piechart
            var canvas = document.getElementById("piechartcanvascontrol")
            var ctx = canvas.getContext("2d");


            var mypieChart = new Chart (ctx, {
                type : 'pie',
                data : {
                    labels :labelsoftypecontrols,
                    datasets : [{
                        backgroundColor: [
                        "#2ecc71",
                        "#3498db",
                        "#95a5a6",
                        "#9b59b6",
                        "#f1c40f",
                        "#e74c3c",
                        "#34495e"
                        ],
                        label : "percentage",
                        data : counttypecontrol
                    }]
                },options : { responsive :true,maintainAspectRatio : false,
                    title : {display : true, text : "ratio type control  "+ monthyearselect ,padding : 2},legend :{labels :{ boxWidth: 20}},
                    tooltips :{ callbacks: {
                        label: function(tooltipItem, data) {
                            var allData = data.datasets[tooltipItem.datasetIndex].data;
                            var tooltipLabel = data.labels[tooltipItem.index];
                            var tooltipData = allData[tooltipItem.index];

                            return tooltipLabel + ': ' + tooltipData +  '%';
                        }
                    }}


                }}) ;



        });





       



           

        //code calculate data for piechart hits (e.g. ongewerkte hit, geannuleerde hit,gevalideerde hit,..)
        var dicttypehits = {
            0 :'ongewerkte hit',1 :'geannuleerde hit', 2: 'gevalideerde hit', 4: 'Duplicate hit'

        };



        var counttypehit =[];
        var labelsoftypehit =[];

        for (i=0;i<hittypes.length;i++) {

            var check = hittypes[i];
            var label = dicttypehits[check];
            var counter=0;
            for (j=0;j<hits.length;j++){
                if (hits[j].typehit==check ) {

                    counter= counter+1}

            }
            var hittypeperc = ((counter/hits.length)*100).toFixed(2);
            counttypehit.push(hittypeperc);
            labelsoftypehit.push(label);


        };

        var canvas = document.getElementById("piechartcanvashits")
        var ctx = canvas.getContext("2d");


        var mypieChart = new Chart (ctx, {
            type : 'pie',
            data : {
                labels :labelsoftypehit,
                datasets : [{
                    backgroundColor: [
                    "#2ecc71",
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                    "#e74c3c",
                    "#34495e"
                    ],
                    label : "percentage",
                    data : counttypehit
                }]
            },options : { responsive :true,maintainAspectRatio : false,
                title : {display : true, text : "% type hits",padding : 2},legend :{labels :{ boxWidth: 20}},
                tooltips :{ callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];

                        return tooltipLabel + ': ' + tooltipData +  '%';
                    }
                }}


            }}) ;






    </script>
</body>
</html>

    
